html,
body {
  margin: 0;
  padding: 0;
}
button {
  user-select: none;
}

#app {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  --content-width: 700px;
  --canvas-height: 394px;
  @media (max-width: 750px), (max-height: 450px) {
    height: auto;
    --content-width: 100vw;
    --canvas-height: 100dvh;
    & #ui-root {
      padding: 5px;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}
#canvas-root {
  width: var(--content-width);
  height: var(--canvas-height);
}
#ui-root {
  width: var(--content-width);
}
